# Omino root git ignore

# node dependencies
node_modules/
package-lock.json

# credentials
secret/

# data
data/

# environment variables
.env

# template compilation
public/*.html

# dreamhost config
app.js
.htaccess
tmp/

# ide
.vscode/
