# Owen Gallagher <ogallagher>
# 2021-04-08
# Omino root git ignore

# node dependencies
node_modules/
package-lock.json

# credentials
secret/

# data
data/

# environment variables
.env

# dreamhost config
app.js
.htaccess
tmp/

