<!--
	Owen Gallagher
	2021-04-09

	Omino website shared top navbar.
-->
<nav class="navbar navbar-expand-md navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			omino
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle menu bar">
	    	<span class="navbar-toggler-icon"></span>
	    </button>
		
		<div id="navbar-nav" class="navbar-collapse collapse">
			<ul class="navbar-nav">
				<li clas="nav-item">
					<a class="nav-link" href="about.html">about</a>
				</li>
				<li clas="nav-item">
					<a class="nav-link" href="dictionary.html">dictionary</a>
				</li>
			</ul>
		</div>
	</div>
</nav>