<!doctype html>
<html>
	<!--
		Owen Gallagher <github.com/ogallagher>
		2021-04-09
		
		Omino dictionary page template. Will be compiled into the full page with a serverside script.
	-->
	
	<head>
        <meta charset="utf-8"/>
        <!--scales viewport depending on worldspace device width-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
        <meta name="description" content="Dictionary for Omino, a constructed auxiliary language."/>
        <meta name="author" content="Owen Gallagher <github.com/ogallagher>"/>
		<meta name="page-name" content="dictionary.html"/>
        
        <title>Omino: Dictionary</title>
		
		{backend-import-css}
	</head>
	
	<body class="bg-light">
		<div id="navbar-container" class="navbar-dark bg-dark">
			{backend-import-navbar}
		</div>
		
		<div class="container-fluid pt-2">
			{backend-import-md}
			
			{backend-import-js}
		</div>
	</body>
</html>